{% extends '_base.html' %}
{% load my_filters %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container-fluid row align-items-start mt-5">
    <div class="col container text-center">
      <h4>Sprint : stats</h4>
      <progress value="{{ sprint_percent_completed }}" max="100" style="width: 350px; height: 50px;">
        {{sprint_percent_completed}}
      </progress>
      <ul>
        <li>Total Tasks: {{ sprint_task_count }}</li>
        <li>Completed so far: {{ sprint_tasks_completed }}</li>
        <li>Completed: {{ sprint_percent_completed }} %</li>
        <li>Time spent: {{ sprint.get_time_spent_this_sprint }} Hours</li>
      </ul>
      
      
    </div>
    <div class="col">    
        <h4>What's up today...</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Planned Hours</th>
              <th>Time Spent</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks|dictsortreversed:"status" %}            
              <tr>
                <td><a class="{{task.status|color_filter}} a_no_underline" href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
                <td>{{ task.effort_hours }}</td>
                <td>{{ task.get_hours_worked }}</td>
                <td>{{ task.status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

   

    <div class="container mt-5">
      <h4>Sprint - {{ sprint.title }}</h4>
      <strong>{{ sprint.start_date }} to {{ sprint.end_date }}</strong><br><br>
      <table class="table">
        <tbody>
          {% for task in sprint.sprint_tasks.all %}
          <tr>
            <td><a class="a_no_underline" href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
    </div>
    
  </div>

{% endblock %}