{% extends '_base.html' %}
{% load my_filters %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container-fluid row align-items-start mt-5">
    <div class="col container text-center">
      <hr style="width: 50%; margin-left: 30%;">
      <h4>Sprint : statistics</h4>
      <hr style="width: 50%; margin-left: 30%;">
      <progress value="{{ sprint_percent_completed }}" max="100" style="width: 350px; height: 50px;">
        {{sprint_percent_completed}}
      </progress>
      <ul>
        <li>Total Tasks: {{ sprint_task_count }}</li>
        <li>Completed so far: {{ sprint_tasks_completed }}</li>
        <li>Completed: {{ sprint_percent_completed }} %</li>
        <li>Time spent: {{ sprint.get_time_spent_this_sprint }} Hours</li>
      </ul>     

      <br>

      <hr style="width: 50%; margin-left: 30%;">
      <h4>Goals : statistics</h4>
      <hr style="width: 50%; margin-left: 30%;">
      <ul>
        {% for goal in goals %}
          <li><p><strong>{{goal}}</strong> -
            [objectives - {{goal.get_objectives_count}}]</p>
            <ul>
              {% for objective in goal.goal_objectives.all %}
                <li><a class="a_no_underline" href="{% url 'objective_detail' objective.id %}">{{objective}}</a> - Tasks: {{ objective.get_tasks_count }}, Completed: {{objective.get_completed_tasks_count}}</li>
              {% endfor %}<br>
            </ul>
          </li>
        {% endfor %}      
    </div>
    <div class="col">     
        <h4>What's up today...</h4>
        <div>
          {% if messages %}    
            {% for message in messages %}
              {{message}}
            {% endfor %}
          {% endif %}
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th></th>
              <th></th>
              <th>Planned Hours</th>
              <th>Time Spent</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks|dictsortreversed:"status" %}            
              <tr>
                <td>
                  <a class="{{task.status|color_filter}} a_no_underline" href="{% url 'task_detail' task.id %}">
                    {{ task.title }}
                  </a></td>
                <td width="50px"><a id="start_{{task.id}}" class="start_button" href="{% url 'task_update_start_time' task.id %}" onclick="disable_button(this)">Start</a></td>
                <td width="30px"><a id="end_{{task.id}}" class="end_button" href="{% url 'task_update_end_time' task.id %}" onclick="disable_button(this)">End</a></td>
                <td style="text-align: center;">{{ task.effort_hours }}</td>
                <td>{{ task.get_hours_worked }}</td>
                <td>{{ task.status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="mt-5">
          <h4>Sprint Performance</h4>
          <img src="{% static 'images/sprint_performance.png' %}" alt="Sprint Performance">
        </div>
        <div class="mt-5">
          <h4>Last 5 Sprints Achievement</h4>
          <img src="{% static 'images/recent_sprints_performance.png' %}" alt="Sprint Performance">
        </div>
      </div>

   

    <div class="container mt-5" style="width: 70%;">
      
    </div>
    
  </div>

{% endblock %}