{% extends '_base.html' %}

{% block title %}Sprint Detail{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div>
      <h4>Sprint Details</h4>
      <table class="table table-striped">
        
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ sprint.title }}</td>
          </tr>
          <tr>ik,
            <td><strong>Description</strong></td>
            <td>{{ sprint.description|safe }}</td>
          </tr>
            <td><strong>Start Date</strong></td>
            <td>{{ sprint.start_date }}</td>
          <tr>
            <td><strong>End Date</strong></td>
            <td>{{ sprint.end_date }}</td>
          </tr>
          <tr>
            <td><strong>Status</strong></td>
            <td>{{ sprint.status }} - <strong>{{ sprint.get_percentage_completed }}</strong> % complete</td>
          </tr>
          <tr>
            <td><strong>Hours Planned</strong></td>
            <td>{{ sprint.get_time_planned_this_sprint }}</td>
          </tr>            
          <tr>
            <td><strong>Comments</strong></td>
            <td>{{ sprint.comments }}</td>
          </tr>
        </tbody>    
      </table>  
    </div>
    <div>
      <a class="btn btn-outline-primary" href="{% url 'sprint_update' sprint.id %}">Update</a>  
      <a class="btn btn-outline-danger" href="{% url 'sprint_delete' sprint.id %}">Delete</a>
      <a class="btn btn-outline-success" href="{% url 'task_add' %}">Add Task</a>
    </div>
    <div class="mt-5">
      <h5>Related Tasks:</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Objective</th>
            <th>Goal</th>         
            <th>Due Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
          </tr>
        </thead>    
      {% for task in sprint.sprint_tasks.all|dictsort:"due_date" %}
        <tbody>
          <tr>
            <td><a href="{% url 'task_detail' task.id %}">{{ task.title|safe }}</a></td>
            <td>{{ task.objective|safe}}</td>
            <td><a style="text-decoration:none; color:green;" href="{% url 'goal_detail' task.objective.goal.id %}">{{ task.objective.goal }}</a></td>     
            <td>{{ task.due_date|date:"d M" }}</td>
            <td>{{ task.start_time|time:"H:i" }}</td>
            <td>{{ task.end_time|time:"H:i" }}</td>
            <td>{{ task.status }}</td>

          </tr>
        </tbody>
      {% endfor %}
      </table>
      <a href="{% url 'task_add' %}">Add Task</a>
    </div>
  </div>
{% endblock %}