h1 {
    color: red;
}

li {
    list-style: none;
}

.a_no_underline {
    text-decoration: none;
}

.a_no_underline:hover {
    text-decoration: underline;
}

.frontpage_cols{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    
    padding: 1.5rem;
}

.unauthorized_main {
    padding: 5%;
    width: 60%;
    font-size: large;
    justify-content: center;
    border-radius: 3%;
    background-color: #F3EFEE;
}

.unauthorized_main li{
    list-style:circle;
    margin-top: 1%;
}

.green_background{
    background-color: green;
    color: white;
}

.nav-item:hover{
    color: navy;
}


.start_button {
    border: 1px solid green;
    border-radius: 3px;
    background-color: #003400;
    color: white;
    margin: 1px;
    padding: .2em;
    text-decoration: none;
}

.start_button:hover {
    background-color: green;
}

.end_button {
    border: 1px solid red;
    background-color: #C70039;
    border-radius: 3px;
    color: white;
    margin: 1px;
    padding: .2em;
    text-decoration: none;
}

.end_button:hover {
    background-color: red;
}

