h1 {
    color: red;
}

li {
    list-style: none;
}

.a_no_underline {
    text-decoration: none;
}

.a_no_underline:hover {
    text-decoration: underline;
}

.frontpage_cols{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    
    padding: 1.5rem;
}

.unauthorized_main {
    padding: 5%;
    width: 60%;
    font-size: large;
    justify-content: center;
    border-radius: 3%;
    background-color: #F3EFEE;
}

.unauthorized_main li{
    list-style:circle;
    margin-top: 1%;
}

.green_background{
    background-color: green;
    color: white;
}

.nav-item:hover{
    color: navy;
}

