{% extends '_base.html' %}

{% block title %}Task Details{% endblock %}

{% block content %}

<div>
  <h4>{{ task.title }}</h4>
  <table class="table">   
    <tbody>
      <tr>
        <td><strong>Due Date: </strong></td>
        <td>{{ task.due_date }}</td>
      </tr>
      <tr>
        <td><strong>Status: </strong></td>
        <td>{{ task.status }}</td>
      </tr>
      <tr>
        <td><strong>Date Completed:</strong></td>
        <td>{{ task.date_completed }}</td>
      </tr>
      <tr>
        <td><strong>Start Time: </strong></td>
        <td>{{ task.start_time }}</td>
      </tr>
      <tr>
        <td><strong>End Time: </strong></td>
        <td>{{ task.end_time }}</td>
      </tr>
      <tr>
        <td><strong>Effort Hours: </strong></td>
        <td>{{ task.effort_hours }}</td>
      </tr>
      <tr>
        <td><strong>Objective: </strong></td>
        <td>{{ task.objective }}</td>
      </tr>
      <tr>
        <td><strong>Sprint: </strong></td>
        <td>{{ task.sprint }}</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-outline-primary" href="{% url 'task_update' task.id %}">Update</a>
  <a class="btn btn-outline-danger" href="{% url 'task_delete' task.id %}">Delete</a>
</div>

{% endblock %}