{% extends '_base.html' %}

{% block title %}Objective Detail{% endblock %}

{% block content %}
  <div class="container mt-5">

    <div>
      <h4>Details</h4>
      <table class="table table-striped">
        
        <tbody>
          <tr>
            <td><strong>Description</strong></td>
            <td>{{ objective.description }}</td>
          </tr>
          <tr>
            <td><strong>Category</strong></td>
            <td>{{ objective.category }}</td>
          </tr>
            <td><strong>Due Date</strong></td>
            <td>{{ objective.due_date }}</td>
          <tr>
            <td><strong>Effort Hours</strong></td>
            <td>{{ objective.effort_hours }}</td>
          </tr>
          <tr>
            <td><strong>Effort Hours Left</strong></td>
            <td>{{ objective.effort_hours_left }}</td>
          </tr>
          <tr>
            <td><strong>Status</strong></td>
            <td>{{ objective.status }}</td>
          </tr>
          <tr>
            <td><strong>Progress</strong></td>
            <td>{{ objective.progress }}</td>
          </tr>
          <tr>        
            <td><strong>Goal</strong></td>
            <td><a href="{% url 'goal_detail' objective.goal.id %}">{{ objective.goal }}</a></td>
          </tr>
        </tbody>    
      </table>  
    </div>
    <div>
      <a class="btn btn-outline-primary" href="{% url 'objective_update' objective.id %}">Update</a>
      <a class="btn btn-danger" href="{% url 'objective_delete' objective.id %}">Delete</a>
    </div>
    <div class="mt-5">
      <h5>Related Tasks:</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Hours Worked</th>
            <th>Sprint</th>
          </tr>
        </thead>    
      {% for task in objective.objective_tasks.all %}
        <tbody>
          <tr>
            {% if task.status == 'notdone' %}
                <td><a style="color:red" href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
                <td style="color:red">{{ task.status }}</td>
                <td style="color:red">{{ task.get_hours_worked }}</td>
                <td style="color:red">{{ task.due_date }}</td>
                <td style="color:red">{{ task.sprint }}</td>
            {% else %}
                <td><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.get_hours_worked }}</td>
                <td>{{ task.due_date }}</td>
            {% endif %}
        </tr>
        </tbody>
      {% endfor %}
      </table>
      <a href="{% url 'task_add' %}">Add Task</a>
    </div>
  </div>

{% endblock %}